/* @import url('https://fonts.googleapis.com/css?family=Google+Sans:400,400i,500,500i,700,900'); */
@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,400i,500,500i,700,700i|Google+Sans+Display:400,400i,500,500i,700,700i&subset=all');

html, body, #top {
    margin: 0;
    padding: 0;
    background-color: black;

    --color-dark: rgb(32,32,35);
    --color-black: black;
    --color-gray: rgb(117,120,123);
    --color-blue: rgb(66,133,244);
    --color-red: rgb(219,68,55);
    --color-yellow: rgb(244,180,0);
    --color-green: rgb(15,157,88);
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Google Sans', Arial, sans-serif;
    color: rgb(61, 64, 67);
    display: flex;
    align-items: center;
    height: 100%;
}

#top {
    position: relative;
    background-color: white;
    width: 100%;
    height: calc(100vw * 9 / 16);
    overflow: hidden;
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Google Sans Display', Arial, sans-serif;
}

h1 {
    font-size: 4vw;
    font-weight: 700;
    margin-bottom: 2vw;
}

h2 {
    font-size: 2vw;
    line-height: 2.2vw;
    font-weight: 500;
}

h3 {
    font-size: 1.6vw;
    line-height: 0.8vw;
    font-weight: 700;
}

h2.space, h3.space {
    margin: 2.5vw 0 0 0;
    font-weight: 500;
}

h2 em, h3 em {
    font-weight: 400;
}

#title {
    position: absolute;
    top: 19vw;
    left: 8.5vw;
    width: 64vw;
}

#related {
    position: absolute;
    top: 17vw;
    right: 1.5vw;
    width: 37vw;
}

#description {
    position: absolute;
    top: 10vw;
    right: 4vw;
    width: 40%;
    height: calc(100% - 20vw);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#recap {
    text-align: center;
}

#description h1, #description h2, #description h3,
#recap h1, #recap h2, #recap h3 {
    font-weight: 400;
    margin: 20px;
}

#description em, #recap em {
    color: var(--color-blue);
    font-weight: 500;
    font-style: normal;
}

#cloud {
    position: absolute;
    top: 14vw;
    left: 5.5vw;
    width: 5.4vw;
}

#google-cloud {
    position: absolute;
    bottom: 2.5vw;
    left: 8.5vw;
    width: 13vw;
}

#google-cloud-full {
    position: absolute;
    bottom: 1.5vw;
    left: 5vw;
    width: 21vw;
}

#google-cloud-full-top {
    position: absolute;
    top: 1.5vw;
    right: 1vw;
    width: 21vw;
}

#google-cloud-text {
    position: absolute;
    font-size: 1.3vw;
    bottom: 3.3vw;
    left: 12.3vw;
    color: white;
    background-color: black;
}

#animation {
    position: absolute;
    top: 0;
    right: 4.5vw;
    width: 64vw;
}

#number {
    position: absolute;
    width: 105vw;
    top: 0;
    right: -5px;
}

#speaker {
    position: absolute;
    height: calc(100% + 4px);
    top: -2px;
    right: -2px;
}

#left {
    position: absolute;
    height: 70%;
    bottom: 8vh;
    left: 2vw;
}

#center {
    position: absolute;
    left: 15%;
    height: 70%;
}

#back {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;
    opacity: .2;
}

#snapshot {
    position: absolute;
    height: 75%;
    bottom: 6vh;
    left: 2vw;
}

#nav {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 85px;
    height: 40px;
}

#nav a {
    display: inline-block;
    visibility: hidden;
    background-color: black;
    opacity: .4;
    width: 40px;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#nav:hover a:not(.disabled) {
    visibility: visible;
}

#progression {
    position: absolute;
    height: 6px;
    bottom: calc((100vh - (100vw * 9 / 16)) / 2);
    left: 0;
    background-color: black;
    border-radius: 0 3px 3px 0;
    opacity: .4;
}

h2 a, h3 a {
    font-weight: 400;
    color: var(--color-blue);
}

#dark, #black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#dark {
    background-color: var(--color-dark);
}

#black {
    background-color: var(--color-black);
    color: white !important;
}

#black+#nav a {
    visibility: visible;
}

#fine {
    width: 100%;
}

#main {
    margin: 0 4vw;
    padding: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.split {
    display: flex;
    height: calc(100% - 11vw);
    padding: 0 2vw;
}

h1.demo {
    margin: 0;
    padding: 2vw;
}

web-term, web-browser, source-code {
    flex: 1;
}

h2.long {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
}
